@import "tailwindcss";

@font-face {
  font-family: "Gullia";
  src: url("/fonts/Gullia.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .neon-glow {
    text-shadow:
      0 0 2px #000;
    -webkit-text-stroke: 0.3px transparent;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gullia", Arial, Helvetica, sans-serif;
}





/* Custom styles */
ul {
  list-style: disc;
  margin-left: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

/* Hamburger (Sandwich) Menu */
.menuToggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px; /* Space between lines */
}

.menuToggle span {
  display: block;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Ensure different default widths */
.line1,
.line2,
.line3 {
  width: 27px;
}

/* Hover effect - bringing lines closer */
.menuToggle:hover .line1 {
  transform: translateY(2px); /* Move down */
}

.menuToggle:hover .line3 {
  transform: translateY(-2px); /* Move up */
}

/* Fix for hover behavior on touch devices */
@media (hover: none) {
  .menuToggle span {
    background-color: white !important;
  }
}



/* Apply the grayscale effect by default */
.hover\:grayscale:hover {
  filter: grayscale(1);
  transition: filter 0.3s ease;
}

/* Disable the grayscale effect on touch devices */
.no-hover .hover\:grayscale {
  filter: none !important;
}

/* Flexbox for equal-height containers */
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
}

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-container {
  flex: 1;
  background-color: var(--background-start-rgb);
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto; /* Allows scrolling if the text is too long */
}

.text-container p {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .text-container {
    padding: 8px;
  }
}

/* Slide-up animation for the text container */
.slide-up {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.slide-up.show {
  transform: translateY(0);
  opacity: 1;
}

.underline-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.underline-hover:not(:hover)::after {
  transform-origin: right;
  transition: transform 0.3s ease;
}
